<%inherit file="/homepage/templates/base.htm" />

<%block name="navbar">
  <li class="${ 'active' if request.dmp_router_page == '/homepage/index/' else ''}">
      <a href="/homepage/index">Home</a>
  </li>
  <li class="${ 'active' if request.dmp_router_page == 'about' else ''}">
      <a href="/about">About</a>
  </li>
  <li class="${ 'active' if request.dmp_router_page == 'contact' else ''}">
      <a href="/contact">Contact</a>
  </li>
  <li class="${ 'active' if request.dmp_router_page == 'terms' else ''}">
      <a href="/terms">Terms</a>
  </li>
  <li class="${ 'active' if request.dmp_router_page == 'faq' else ''}">
      <a href="/faq">FAQ</a>
  </li>
  <%block name="navbar_add">
  </%block>
</%block>
<%block name="app_breadcrumb">
  <li class="${ 'active' if request.dmp_router_page == 'index' else ''}">${ 'Account' if request.dmp_router_page == 'index' else '<a href="/account/index/">Account</a>'}</li>
  <%block name="add_breadcrumb">
  </%block>
</%block>
