<%inherit file="app_base.htm" />

<%block name="breadcrumb">
</%block>

<%block name="content">
  <div id="opacity">
    <h1 class="text-center">The Perfect First Guitar</h1>
    <br>
    <img class="img-responsive center" src="${ STATIC_URL }/catalog/media/Fender.jpg" alt="Fender FA-100 Guitar" />
    <h3 class="text-center">The Fender FA-100 is the perfect guitar for your aspiring musician.</h3>
    <br>
    <h2>What's so great about it?</h2>
    <p>
      The Fender FA-100 works great for young musicians because of the quality for the price tag. When a young
      learner starts out, a parent doesn't necessarily want to spend an arm and a leg to get them started. Although this
      guitar is fairly inexpensive, it doesn't compromise on quality. It even comes with a lifetime warranty
      for all the abuse it might take!
    </p>
    <h2>Check out our selection!</h2>
    <p>
      There are two great ways for you to check out this product, and the first way is to check it out <a class="link" href="#">here</a>.
       But another way is to come to one of our many stores and try it out for youself! We always have instruments on hand
       for you to check out and see what's best. You can also take a look at the other products we have by checking out the link
       below.
    </p>
    <br>
    <div class="text-center">
      <a href="#" class="btn btn-success">Buy this Guitar</a>
    <a href="/catalog/index/" class="btn btn-primary">Shop Other Products</a>
  </div>
  </div>
</%block>
