<%inherit file="app_base.htm" />

<%block name="title">FAQ</%block>

<%block name="add_breadcrumb">
  <li class="active">FAQ</li>
</%block>

<%block name="left_sidebar">

</%block>

<%block name="content">
<div id="opacity">
  <h1 id="title">Frequently Asked Questions</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">How do I purchase an instrument?</h3>
    </div>
    <div class="panel-body">
      Simply create an account online, and then from there you can browse our catalog
      where we have many instruments at a great price. Then from there, you can
      have us ship the instrument to you, or you can come pick it up in the store.
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">What is the warranty on your instruments?</h3>
    </div>
    <div class="panel-body">
      We want to make sure you are covered when you get a new instrument, so the
      standard warranty is 2 years, and you can purchase an additional 2 years
      at the time of purchase.
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Are you able to fix instruments</h3>
    </div>
    <div class="panel-body">
      We sure can! We have a full repair shop in our store, and we accept shipments
      to be able to get those repairs done. So if you live far away, we are happy
      to make those repairs!
    </div>
  </div>
</div>
</%block>
