<%inherit file="app_base.htm" />

<%block name="title">Home</%block>

<%block name="breadcrumb">
</%block>

<%block name="top">
  <header id="top" class="header" role="img" aria-label="Man holding Guitar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="text-vertical-center">
            <h1>Family Oriented Music Organization</h1>
            <h3>The best instruments at the best price starts here.</h3>
            <a href="/catalog">
              <button class="btn btn-primary">Start Now</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</%block>

<%block name="footer">
</%block>
